---

dist: "xenial"
language: "minimal"

service:
  - "docker"

script:
  - "make test-all"
  - "make lint-all -j 2"
  - >-
      docker images
      --filter "reference=krostar/ci"
      --no-trunc
      --format 'table {{ .Tag }}\t{{.ID}}\t{{.Digest}}'

after_success:
  - >-
      make docker-publish-go-cover
      DOCKER_RUN_ARGS="
      --report ./build/cover/coverage.out
      --token $CODACY_TOKEN
      --commit $TRAVIS_COMMIT"

...
